/*
CSS Credit: http://www.templatemo.com/
*/

body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Verdana, Arial, san-serif;
	font-size: 11px;
	color: #ffffff;
	background: #4b4743;
}

a:link, a:visited { color: #e6e154; text-decoration: none; font-weight: bold;} 
a:active, a:hover { color: #e6e154; text-decoration: underline;}

p {
	margin: 0px;
	padding: 0px;
}

img {
	margin: 0px;
	padding: 0px;
	border: none;
}


.cleaner {
	clear: both;
	width: 100%;
	height: 1px;
	font-size: 1px;	
}

.cleaner_with_height {
	clear: both;
	width: 100%;
	height: 30px;
	font-size: 1px;	
}

.cleaner_with_width {
	float: left;
	width: 20px;
	height: 30px;
	font-size: 1px;	
}

.buy_now_button a{
	clear: both;
	text-align: center;
	display: block;
	width: 100px;
        height:30px;
	padding:0px 0 0 0;
	margin-bottom: 0px; 
	background: url(../images/templatemo_btn_02.jpg) no-repeat;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}
.buy_now_button2 a{
	clear: both;
	text-align: center;
	display: block;
	width: 100px;
	padding: 4px 0 5px 0;
	margin-bottom: 10px; 
	background: url(../images/templatemo_btn_02.jpg) no-repeat;
        color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}
.detail_button a{
	clear: both;
	text-align: center;
	display: block;
	width: 100px;
	padding: 4px 0 5px 0;
	margin-bottom: 10px; 
	background: url(../images/templatemo_btn_01.jpg) no-repeat;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

#templatemo_container{
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
	background: #1c1c1b url(../images/templatemo_bg.jpg);
        background-size: cover;
}


/* menu */

#templatemo_menu {
	clear: both;
	width: 960px;
	height: 55px;
	background: url(../images/templatemo_menu_bg.jpg) no-repeat;
}

#templatemo_menu ul {
	padding: 13px 0 0 0;
	margin: 0;
	list-style: none;
}

#templatemo_menu ul li{
	display: inline;
}

#templatemo_menu ul li a{
	float: left;
	padding: 0 20px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #ffc700;
}


#templatemo_menu li a:hover, #templatemo_menu li .current{
	color: #ffc700;
}

/* end of menu*/

/* header */
#templatemo_header {
	clear: both;
	width: 960px;
	height: 285px;
	padding: 0;
	margin: 0;
	background: url(../images/templatemo_header_bg.jpg) no-repeat;
}

#templatemo_header a,a:hover {
	color: #ffffff;
}

#templatemo_header #templatemo_special_offers {
	float: left;
	margin-top: 95px;
	margin-left: 490px;
	width: 180px;
}


#templatemo_special_offers ul {
	 margin: 0 0 10px 0;
	 padding: 0 0 0 20px;
}

#templatemo_special_offers li {
	 margin: 0;
	 padding: 0; 
}
#templatemo_header #templatemo_new_books {
	float: left;
	margin-top: 90px;	
	margin-left: 55px;
	width: 180px;
}

#templatemo_new_books ul {
	 margin: 0 0 10px 0;
	 padding: 0 0 0 20px;
}

#templatemo_new_books li {
	 margin: 0;
	 padding: 0; 
}


/* end of header */


/* content */
#templatemo_content {
	clear: both;
	width: 920px;
	padding: 0 20px;
}

#templatemo_content #templatemo_content_left {
	float: left;
	width: 188px;
	padding: 10px;

	border: 0px solid #212120;
}

#templatemo_content #templatemo_content_right {
	float: right;
	width: 670px;
}


#templatemo_content_left .templatemo_content_left_section{
	clear: both;
	padding-bottom: 0px;
	border-bottom: 0px solid #2b2b2a;
	margin-bottom: 0px;
}

.templatemo_content_left_section h1 {
	font-size: 14px;
	color: #cbc750;
	padding: 0 0 5px 0;
	margin: 0 0 10px 0;
	border-bottom: 0px dotted #cbc750;
}

.templatemo_content_left_section ul {
	padding: 0;
	margin: 0;
}

.templatemo_content_left_section ul li{
	padding: 0 0 3px 10px;	
	list-style: none;
}

.templatemo_content_left_section ul li a{
	font-weight: normal;
	text-decoration: none;
	color: #FFFF0;
}

.templatemo_content_left_section li a:hover, .templatemo_content_left_section li .current{
	color: #fcf88e;
}





#templatemo_content_right .templatemo_product_box {
	float: left;
	width: 303px;
	height: 210px;
	padding: 10px;
	border: 1px solid #333;
}

#templatemo_content_right h1 {
	padding: 10px;
	margin: 0 0 20px 0;
	font-size: 15px;
	color: #cbc750;
	background: transparent;
}

#templatemo_content_right h2 {
	padding: 0 0 0 0;
	margin: 15px;
	font-size: 12px;
	color: #e6e154;
}

#templatemo_content_right h3 {
	padding: 0;
	margin: 0 0 20px 0;
	font-size: 18px;
	color: #cbc750;
}

#templatemo_content_right ul {
	margin: 15px 0 20px 0;
	padding: 0 0 0 20px;
	list-style: none;
}

#templatemo_content_right li {
	padding: 0 0 3px 0;
}

#templatemo_content_right .image_panel {
	float: left;
	width: 100px;
	margin-right: 20px;
}

#templatemo_content_right .image_panel2 {
	float: left;
	width: 150px;
	margin-right: 20px;
        margin-bottom: 20px;
}

#templatemo_content_right .pageindex {
	
	width: 100px;
	margin-left: 3000px;
}
#templatemo_content_right p {
	text-align: justify;
	padding: 0 0 8px 0;
}

.templatemo_product_box h1 span {
	font-weight: normal;
}

.templatemo_product_box img {
	float: left;
	margin-right: 20px;
}

.templatemo_product_box .product_info {
	float: left;
	width: 180px;
}

.product_info p {
	margin-bottom: 15px;
}

/* end of content */

/* footer */
#templatemo_footer {
	clear: both;
	width: 960px;
	padding: 20px 0px 20px 0;
	text-align: center;
	border-top: 1px solid #25211e;
	color: #ffffff;
	background-color: transparent;
}

#templatemo_footer a{
	color: #fff;
	font-weight: normal;
}
/* end of footer */


/*add by Tao*/
.treeDiv {
      color: #fbf432;
      font-size: 14px;
      font-weight: bolder;
      font-weight: normal;
      background-color: transparent;
      color: #fbf432;
      font-size: 14px;
      font-weight: bolder;
      overflow: auto;
      padding: 0 0 1em 0;
      overflow-x: hidden;
    }
    
    .treeNode {
      white-space: nowrap;
      text-indent: -14px;
      margin: 6px 2px 5px 14px;
    }
    
    a:hover, a:hover {
      background-color: transparent;
      text-decoration: none;
    }
    
    a.treeUnselected, a.treeSelected {
      color: #fbf432;
      font-size: 14px;
      font-weight: bolder;
      padding: 1px 3px 1px 0;
      text-decoration: none;
    }
    a.treeSelected {
      background-color: transparent;
    }
    a.treeUnselected {
      background-color: transparent;
    }
    
    .treeSubnodes {
      display: block;
    }
    .treeSubnodesHidden {
      display: none;
    }
    .treeNode img.treeNoLinkImage, .treeNode img.treeLinkImage {
      height: 15px;
      margin-left: 5px;
      margin-right: 0px;
      width: 15px;
    }
    .treeNode img.treeLinkImage {
      cursor: pointer;
    }
    
    div.treeNode a, div.treeNode span.apiRoot {
      display: inline-block;
      margin-left: 24px;
      text-indent: 0;
      white-space: normal;
      width: 95%;
      word-wrap: break-word;
    }
    
    div.treeNode span.category {
      cursor: pointer;
    }